@import 'variables.scss';

.input {
  border: 1px solid $input-border;
  font: 14px/1.6 $font-family;
  padding: 7px 10px;
  background-color: $input-bg;
  color: $default-text-color;
  transition: border-color $transition, background-color $transition;
  border-radius: 1px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  appearance:none;

  &:hover:not([disabled]) {
    border-color: $input-hover-border;
  }

  &:focus:not([disabled]) {
    border-color: $input-focus-border;
  }

  &[disabled] {
    color: rgba($default-text-color, .6);
    background-color: color($input-bg blend($default-color 8%));
    cursor: not-allowed;
  }

  &[readonly] {
    background-color: color($info-color blend($input-bg 90%));
    cursor: not-allowed;
  }

  &_error {
    border-color: color($danger-color blend($input-border 70%));

    &:hover:not([disabled]) {
      border-color: color($danger-color blend($input-border 45%));
    }

    &:focus:not([disabled]) {
      border-color: $danger-color;
    }
  }

  &_size {
    &_s {
      padding: 5px 10px;
      font-size: 12px;
    }

    &_l {
      font-size: 16px;
      padding: 9px 10px;
    }
  }

  &__wrap {
    margin-bottom: 20px;
    display: inline-block;
    white-space: nowrap;
  }

  &__controlWrap {
    position: relative;
    display: inline-block;
    width: calc(100% - 90px);

    &_withoutLabel {
      width: 100%;
    }
  }

  &__label {
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;
    min-width: 50px;
    width: 85px;
    font-size: 14px;
    white-space: normal;
    vertical-align: middle;
  }

  &__badgeRequired {
    color: $danger-color;
    font-weight: bold;
    font-size: 120%;
    line-height: 1;
    margin-left: 3px;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: $danger-color;
    font-size: 11px;
    line-height: 1;
    white-space: normal;
  }
}
