@import 'variables.scss';

.checkbox {
  width: $form-control-m;
  vertical-align: middle;
  cursor: pointer;

  &_xs {
    width: $form-control-xs;
  }

  &_s {
    width: $form-control-s;
  }

  &_l {
    width: $form-control-l;
  }

  &_xl {
    width: $form-control-xl;
  }

  &_xxl {
    width: $form-control-xxl;
  }

  &__label {
    margin-left: 10px;
    width: calc(100% - calc($form-control-m + 10));

    &_xs {
      width: calc(100% - calc($form-control-xs + 10));
    }

    &_s {
      width: calc(100% - calc($form-control-s + 10));
    }

    &_l {
      width: calc(100% - calc($form-control-l + 10));
    }

    &_xl {
      width: calc(100% - calc($form-control-xl + 10));
    }

    &_xxl {
      width: calc(100% - calc($form-control-xxl + 10));
    }
  }
}


@supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
  .checkbox {
    &:checked {
      background-image: svg-load(tick.svg, fill: $default-color);
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
