$default-text-color: #6c757e;

$default-color: #8a949f;
$primary-color: #27aae1;
$success-color: #91c46b;
$info-color: #ff9434;
$warning-color: #9b7dcf;
$danger-color: #f23869;

$scale1: 8px;
$scale2: 16px;
$scale3: 24px;
$scale4: 32px;
$scale5: 40px;

$button-xs: 26px;
$button-s: 36px;
$button-m: 42px;
$button-l: 48px;
$button-xl: 56px;
$button-xxl: 64px;

$font-family: 'Open Sans',Helvetica,Arial,sans-serif;

$fast-transition: .25s cubic-bezier(0.3, 1, 0.4, 1) 0s;
$transition: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;



$base-color: #f00;
$base-icon-color: #944;
$base-invert-icon-color: #fff;

$primary-text-color: #6c757e;


