@import 'variables.scss';

.accent {
  &_default {
    fill: $default-color;
  }

  &_primary {
    fill: $primary-color;
  }

  &_success {
    fill: $success-color;
  }

  &_info {
    fill: $info-color;
  }

  &_warning {
    fill: $warning-color;
  }

  &_danger {
    fill: $danger-color;
  }
}

.size {
  &_xs {
    width: calc($scale2 * 0.8);
    height: calc($scale2 * 0.8);
  }

  &_s {
    width: calc($scale2 * 1.15);
    height: calc($scale2 * 1.15);
  }

  &_m {
    width: calc($scale2 * 1.5);
    height: calc($scale2 * 1.5);
  }

  &_l {
    width: calc($scale3 * 1.25);
    height: calc($scale3 * 1.25);
  }

  &_xl {
    width: calc($scale4 * 1.1);
    height: calc($scale4 * 1.1);
  }

  &_xxl {
    width: $scale5;
    height: $scale5;
  }
}
